
# Ignore these directories
.minecraft/config/*
.minecraft/crash-reports/*
.minecraft/logs/*
.minecraft/minemenu/*
.minecraft/mods*/*
.minecraft/resourcepacks/*
.minecraft/saves/*
.minecraft/screenshots/*
.minecraft/Xaero*/*
natives/*
server/crash-reports/*
server/logs/*
server/mods/*


# Ignore these files
99 mods 1.18.x Forge.code-workspace
instance.cfg
.minecraft/hs_err_pid7918.log
.minecraft/knownkeys.txt
.minecraft/realms_persistence.json
.minecraft/options.txt
.minecraft/servers.dat*
.minecraft/usercache.json
.minecraft/usernamecache.json
.minecraft/config/fancymenu/menu_identifiers.db
build/*server*.zip

# Do not ignore these directories
!.minecraft/config/defaultoptions
!.minecraft/config/drippyloadingscreen
!.minecraft/config/fancymenu
!.minecraft/config/starterkit
!.minecraft/config/waterstrainer
!server/config/starterkit

# Still ignore this directory
#minecraft/config/betterdefaultbiomes/food

# Do not ignore these files
!.minecraft/config/alexsmobs.toml
!.minecraft/config/bcc-common.toml
!.minecraft/config/clienttweaks-common.toml
!.minecraft/config/defaultoptions-common.toml
!.minecraft/config/enhancedfarming-common.toml
!.minecraft/config/farmingforblockheads-common.toml
!.minecraft/config/theoneprobe-client.toml
!.minecraft/config/vtweaks-common.toml
!.minecraft/config/xaerominimap_entities.json
!.minecraft/config/xaerominimap.txt
!server/config/bcc-common.toml
!server/config/enhancedfarming-common.toml
